html {
  width: 100%;
  height: 100%;
  background-color: #2D2D2D; }

body {
  width: 100%;
  font-family: "Raleway", "Times New Roman", Times, serif;
  background-image: url("/themes/simple/images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-gutter {
  padding: 0 !important;
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.primary-font {
  color: #2C78AF; }

.secondary-font {
  color: #FFC110; }

.main {
  min-height: 500px; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.good {
  color: green; }

.bad {
  color: red; }

.block {
  background-color: #FEFEFE;
  min-height: 300px;
  border-top: 5px solid #FFC110;
  border-bottom: 5px solid #FFC110;
  padding: 20px 30px;
  margin-bottom: 20px; }

header {
  min-height: 120px; }
  header .nav-row {
    background-color: #F8F8F8; }
    header .nav-row .navbar {
      margin-bottom: 0;
      border: none; }
  header .container {
    position: relative; }
  header .brand {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0; }
  header .current {
    text-align: right; }
    header .current a {
      color: #FFC110 !important; }
  header .link {
    text-align: right; }
    header .link a {
      color: #2C78AF !important; }

.HomePage .content {
  margin-top: 50px; }
  .HomePage .content .calc-form .field#GasAmount {
    display: none; }
  .HomePage .content .calc-form .field {
    margin-bottom: 10px; }
  .HomePage .content .calc-form input.checkbox {
    margin-left: 0; }
  .HomePage .content .calc-form .middleColumn input {
    width: 100%; }
  .HomePage .content .calc-form .Actions {
    float: right;
    margin-top: 10px; }
    .HomePage .content .calc-form .Actions .action {
      background-color: #FFC110;
      border: 1px solid #2C78AF;
      border-radius: 5px; }
  .HomePage .content .news {
    position: relative;
    padding-top: 10px;
    padding-bottom: 15px; }
    .HomePage .content .news .title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 5px 30px;
      height: 36px;
      line-height: 26px;
      background-color: #F1F1F1;
      border-bottom: 1px solid #C7C7C7;
      color: #FFC110;
      font-weight: bold;
      font-size: 18px; }
    .HomePage .content .news .summaries {
      padding: 20px 0 0 0; }
      .HomePage .content .news .summaries li {
        list-style: none;
        border-bottom: 1px solid #CCCCCC; }
        .HomePage .content .news .summaries li h4 {
          font-weight: bold;
          font-size: 16px; }

.BlogsPage .articles li {
  list-style: none;
  border-bottom: 1px solid #CCCCCC; }

.ArticlePage h3 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px; }

.ProductsPage .gallery .fancybox {
  display: none; }
.ProductsPage .gallery .fancybox:first-of-type, .ProductsPage .gallery .fancybox:last-of-type {
  display: block;
  text-decoration: none; }
  .ProductsPage .gallery .fancybox:first-of-type img, .ProductsPage .gallery .fancybox:last-of-type img {
    width: 100%; }

.AboutPage .img-container {
  margin-bottom: 30px; }

.ContactPage .title {
  font-size: 22px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
  padding-bottom: 10px; }
.ContactPage .field {
  margin-bottom: 20px; }
.ContactPage .middleColumn input, .ContactPage .middleColumn textarea {
  width: 100%; }
.ContactPage .contact-info {
  background-color: #E3E3E3;
  border-radius: 5px;
  padding: 15px;
  line-height: 40px;
  box-shadow: 5px 5px 3px #888888;
  margin-top: 20px; }

.SignupPage .title {
  background-color: #F1F1F1;
  margin-bottom: 20px;
  color: #2C78AF; }
.SignupPage #Form_SignupForm .CompositeField {
  border: 3px solid #FFC110;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 3px #333; }
  .SignupPage #Form_SignupForm .CompositeField .title {
    padding: 10px;
    margin-bottom: 5px; }
.SignupPage #Form_SignupForm .field {
  overflow: auto;
  background-color: #F1F1F1;
  margin-bottom: 10px;
  padding: 10px; }
  .SignupPage #Form_SignupForm .field .left {
    padding: 0 20px; }
  .SignupPage #Form_SignupForm .field .middleColumn {
    padding: 0 20px; }
.SignupPage #Form_SignupForm .field:not(.optionset) .left {
  float: left;
  width: 30%; }
.SignupPage #Form_SignupForm .field:not(.optionset) .middleColumn {
  float: left;
  width: 70%; }
  .SignupPage #Form_SignupForm .field:not(.optionset) .middleColumn input {
    width: 100%; }
.SignupPage #Form_SignupForm .field:not(#Version):not(#License) .left:after {
  content: '*';
  color: red;
  font-size: 24px;
  line-height: 20px;
  display: inline;
  position: relative;
  top: 8px; }
.SignupPage #Form_SignupForm .optionset {
  overflow: auto; }
  .SignupPage #Form_SignupForm .optionset li {
    list-style: none;
    overflow: auto; }
    .SignupPage #Form_SignupForm .optionset li input {
      float: left;
      width: 20px;
      margin-right: 10px; }
    .SignupPage #Form_SignupForm .optionset li label {
      float: left; }
.SignupPage #Form_SignupForm .Actions {
  text-align: center; }
.SignupPage .action {
  background-color: #2C78AF;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none; }
.SignupPage .bad, .SignupPage .good {
  margin-bottom: 30px; }

footer {
  color: #ffffff; }
  footer .social {
    background-color: #2C78AF;
    padding: 10px; }
    footer .social .links .follow-text {
      line-height: 40px;
      font-size: 16px;
      padding-left: 0;
      padding: 0; }
    footer .social .links ul {
      margin-bottom: 0; }
      footer .social .links ul li {
        list-style: none;
        display: block;
        float: left;
        margin: 0 5px; }
        footer .social .links ul li a {
          text-align: center;
          text-decoration: none;
          display: block;
          color: #2C78AF;
          width: 40px;
          height: 40px;
          background-color: #F5F5F2;
          border-radius: 5px;
          font-size: 30px;
          line-height: 40px; }
    footer .social ul.languages {
      line-height: 40px;
      margin-bottom: 0; }
      footer .social ul.languages li {
        list-style: none;
        display: block;
        float: left;
        margin: 0 20px; }
        footer .social ul.languages li a {
          text-decoration: none;
          color: #ffffff; }
  footer .copyright {
    background-color: #747374;
    height: 50px;
    line-height: 50px;
    color: #ffffff; }
    footer .copyright a {
      color: #ffffff !important;
      text-decoration: none; }

/*# sourceMappingURL=customise.css.map */
