$primary-color: #2C78AF;
$secondary-color: #FFC110;

html {
  width: 100%;
  height: 100%;
  background-color: #2D2D2D;
}

body {
  width: 100%;
  font-family: "Raleway", "Times New Roman", Times, serif;
  background-image: url("/themes/simple/images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-gutter {
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.primary-font {
  color: $primary-color;
}

.secondary-font {
  color: $secondary-color;
}

.main {
  min-height: 500px;
}

.block {
  background-color: #FEFEFE;
  min-height: 300px;
  border-top: 5px solid $secondary-color;
  border-bottom: 5px solid $secondary-color;
  padding: 20px 30px;
}

header {
  min-height: 120px;

  .nav-row {
    background-color: #F8F8F8;

    .navbar {
      margin-bottom: 0;
      border: none;
    }
  }

  .container {
    position: relative;
  }

  .brand {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .current {
    text-align: right;

    a {
      color: $secondary-color !important;
    }
  }

  .link {
      text-align: right;

    a {
      color: $primary-color !important;
    }
  }
}

.HomePage {
  .content {
    margin-top: 50px;

    .home-form {

    }

    .gas-form {
      display: none;
      visibility: hidden;
    }
  }
}

footer {
  color: #ffffff;

  .social {
    background-color: #2C78AF;
    ul {
      li {
        list-style: none;
        display: block;
        float: left;
        margin: 0px 20px;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }

  .information {
    background-color: #747374;
  }

  .copyright {
    background-color: #2D2D2D;
  }
}